
.container-header{
    background-color: red;
    widows: 100%;
}

.container-left{
    background-color: blue;
    width: 10%;
}

.container-content{
    background-color: grey;
    width: 90%;
}

.container-body{
    display: flex;
    align-items: stretch;
    width: 100%;
}

p{
    margin:0px;
}

#recipes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.main-recipe{
    display: flex;
    flex-wrap: wrap;
}

.img-recipe{
    width:200px;
    height: 200px;
}



