html,body {
  height: 100%;
}
body {
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  margin:0;
  position: relative;
}
* {
  box-sizing: border-box;
  align-self: inherit;
}


.container{
	width: 80%;
	display: none;
	margin-top: 5%;
   }

.wrapper{
    display: flex;
	justify-content: center;
	background-image: url("../images/background.jpg");
	background-color: #cccccc; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	flex-wrap: wrap;
	width: 100%;
	color: white;
	flex-direction: column;
}


.container-header{
    height:10vh;
	width: 100%;
	background:rgba(255,255,255,0.5);
	border-radius: 25px;
	margin: 5px;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.log-out{
	display: flex;
    justify-content: flex-end;
}

#log-out{
	align-self: center;
}

.container-header>p{
    margin: 0%;
}

.container-left{
	background:rgba(255,255,255,0.5);
	border-radius: 25px;
	margin: 5px;
    width: 30%;
}

.container-content{
   
    width: 70%;
}

.container-body{
    display: flex;
    align-items: stretch;
    width: 100%;
}

#recipes{
    display: flex;
    flex-wrap: wrap;
	flex-direction: column;
	background:rgba(255,255,255,0.5);
	border-radius: 25px;
	margin: 5px;
}

.main-recipe{
    display: flex;
	flex-wrap: wrap;
	padding:10px;
}



#login-buttons, .input-fields{
	align-self: center;
	display: flex;
	justify-content: center;
	width: 100%;
}

#header{
	display: flex;
    justify-content: center;
}

.input-fields{
	display: none;
	width: auto;
	margin:20px;
	flex-direction: column;
	background:rgba(255,255,255,0.5);
	border-radius: 20px;
	height:150px;
}

input{
    max-height: 25px;
	margin: 10px;
	z-index: 100;
}

.inp {
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 280px;

}
.inp .label {
	position: absolute;
	top: 1px;
	left: 0;
	font-size: 16px;
	color: black;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
	
}

.inp .border {
		position: absolute;
		bottom: 0;
		left: 0;
		height: 2px;
		width: 100%;
		transform: scaleX(0);
		transform-origin: 0 0;
		transition: all 0.15s ease;
}

.inp input {
		-webkit-appearance: none;
		border: 0;
		font-family: inherit;
		padding: 12px 0;
		height: 48px;
		font-size: 16px;
		font-weight: 500;
		border-bottom: 2px solid #c8ccd4;
		background: none;
		border-radius: 0;
		color: #223254;
		transition: all 0.15s ease;
		
}

.inp input:hover {
		background: rgba(34,50,84,0.03);
}

.inp input:not(:placeholder-shown) + span {
		color: #5a667f;
		transform: translateY(-26px) scale(0.75);
	}
.inp input:focus {
		background: none;
		outline: none;
	}
.inp input:focus + span {
		color: #07f;
		transform: translateY(-26px) scale(0.75);
	}
.inp input:focus + span + .border {
		transform: scaleX(1);
	}
  

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.container-left .button{
	display: flex;
	justify-content: center;
}

#enter-recipe-container {
	width: 81%;
    height: 103%;
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#enter-recipe-form{
	width: fit-content;
	align-self: center;
	background-color: rgba(255,255,255,0.5);
    border: 1px solid black;
	border-radius: 5%;
	color: black;
}

#recipe-form{
	display: flex;
	flex-direction: column;
}

#recipe-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ing-lbl{
    margin: 10px;
    width: auto;
    align-self: flex-start;
}

.ing{
	display: flex;
    justify-content: center;
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }
  
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
  }

@media screen and (max-width: 768px) {
	.img-recipe{
		width:100px;
		height: 100px;
	}
	.container-content{
		width: 100%;
	}
	.container-left{
		width: 100%;
	}
	.container-body{
		flex-direction: column;
	}
	.ing {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: -webkit-center;
	}
	#recipe-form {
		display: flex;
		flex-direction: column;
	}
	.recipe-form-items {
		display: grid;
	}
  }

  @media screen and (min-width: 769px) {
	.img-recipe{
		width:200px;
		height: 200px;
	}
	.container-content{
		width: 70%;
	}
	.container-left{
		width: 30%;
	}
	.container-body{
		flex-direction: row;
	}
  }

